<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="drivers" value="chromedriver,geckodriver,IEDriverServer"/>
    <!--Test site-->
    <add key="website" value="https://cookie.riimu.net/speed/" />
    <!--Page load time out is set to 2mins-->
    <add key="pageTimeout" value="120"/>
    <!--Find element time out is set to 2mins-->
    <add key="findTimeout" value="120"/>
    <!--Raw time buffer for executing the process-->
    <add key="processBufferTime" value="5"/>
    <!--Prioritization value for POM-->
    <add key="firstPriority" value="1"/>
    <add key="secondPriority" value="2"/>
    <add key="thirdPriority" value="3"/>
  </appSettings>
</configuration>